{% extends "index.html" %}
{% block content %}
<section>
    <h1>Swap String For Array Negative Values</h1>
    <p>Replace any negative array values with 'Dojo'</p>
    <p>Array: [5, -3, 3, 1, -4, 2, -5, -2, 4, -1]</p>
    <span>
    {% set swap = namespace(value=[]) %}
    {% set arr = [5, -3, 3, 1, -4, 2, -5, -2, 4, -1] %}
    {% for x in arr %}
        {% if x >= 0 %}
            {{ swap.value.append(x) or '' }}
        {% endif %}
        {% if x < 0 %}
            {{ swap.value.append('Dojo') or '' }}
        {% endif %}
    {% endfor %}
    <p>{{ swap.value }}</p>
    </span>
</section>
{% endblock %}